.login_back{
    background: url('../images/bg_login_seongnam.png') no-repeat center center;
    background-size: cover;
    position: relative;
    .login_dark{
        position: absolute;
        left: 0;
        top: 0;
    }
}
.login_dark{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.logo_seongnam{
    width: 7.5rem;
}
.sp_logo_seongnam{
    display: block;
    width: 5.28rem;
    height: 1.75rem;
    background: url('../images/logo_seongnam.svg') no-repeat left center;
    background-size: cover;
}
.board{
    &.situation{
        background: url(../images/bg_map_situation.png) no-repeat center bottom;
        background-size: cover;
    }
}
.monitor_table{
    tbody{
        tr{
            td{
                cursor: pointer;
                &:first-child{
                    width: 42.5%;
                    background-color: rgba(255, 255, 255, 0.16);
                    border-right: 0.0625rem solid $bg_grey12;
                    text-align: left;
                    vertical-align: middle;
                }
            }
            &:hover{
                td{
                    background: rgba(39, 212, 255, 0.2);
                }
            }
        }
    }
    &.info tbody{
        tr td{
            &:first-child{
                width: 8.75rem;
                text-align: center;
            }
        }
    }
}
.exp_weather{
    &.grid{
        display: grid;
        grid-template-columns: 10.5rem auto;
    }
}
.weather_sign{
    width: 100%;
    height: 100%;
    border: 0.0625rem solid $bg_grey20;
    &.sgnam{
        flex-direction: column;
        row-gap:0.125rem;
    }
    &.only{
        padding-bottom: 0.25rem;
    }
}
.weather_box{
    &.sgnam{
        @include dflx_jbet;
        flex: 1;
        flex-direction: column;
    }
}
.weath_dl{
    dd{
        @include dflx_ae;
        column-gap: 0.125rem;
        color: $fc_default;
    }
}
.member_naming{
    @include dflx_ac_jcent;
    flex-direction: column;
    gap: 0.75rem;
    min-height: 3rem;
    padding: 0;
}
.tm_dl {
    dt {
        p.pure {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}
.bott_info{
    &.bridge{
        height: auto;
    }
    &.with_grid1{
        width: 100%;
        height: auto;
        .smart_top{
            display: none;
        }
        .smart_cont{
            height: auto;
            padding: 0.25rem 0 0;
        }
    }
}
.board_list{
    width: 20rem;
    position: absolute;
    left: 20.5rem;
    top: 0;
    display: none;
}
.list_table{
    thead{
        th{
            padding: 0.1rem 0.375rem 0;
        }
    }
    tbody{
        tr{
            td{
                padding: 0.1rem 0.375rem 0;
                cursor: pointer;
                &:first-child{
                    width: 42.5%;
                }
                &:last-child{
                    width: 15%;
                }
            }
        }
    }
}
.mclist_top{
    @include dflx_ac_jbet;
    column-gap: 0.5rem;
}
.mclist_dl{
    @include dflx_ac;
    column-gap: 1rem;
    dt{
        @include fs_13_regular;
    }
    dd{
        flex: 1;
    }
}
.mclist_box{
    @include dflx_ac_jcent;
    padding: 0 0.25rem;
    width: 3.625rem;
    height: 1.75rem;
    overflow: hidden;
    border-radius: 0.125rem;
    border: 0.0625rem solid $fc_succeses;
    background: rgba(0, 189, 120, 0.10);
    .count{
        @include fs_13_regular;
        color: $fc_succeses;
    }
    &.obstacle{
        border: 0.0625rem solid $fc_error;
        background: rgba(219, 0, 0, 0.08);
        .count{
            color: $fc_error;
        }
    }
}
.popover_box {    
    &.map_top {
        top: auto !important;
        left: 50%;
        bottom: calc(100% + 0.125rem);
        transform: translate(-50%, 0);
    }
    &.map_bottom {
        top: calc(100% + 2px) !important;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.connect_line{
    &.vertical{
        flex-direction: column;
        padding: 0;
        width: 3rem;
        background-color: rgba(9, 10, 19, 0.95);
        border: none;
        .btn_icon{
            width: auto;
            min-width: auto;
            .word{
                @include fs_10_regular;
            }
        }
    }
}
.left_center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.scaler_cont{
    width: 100%;
    padding: 0.625rem 0;
    border: 0.0625rem solid rgba(255, 255, 255, 0.12);
    //background: rgba(10, 11, 20, 0.4);
    backdrop-filter: blur(1.875rem);
}
.scaler_bg {
    width: 0.25rem;
    height: 7.5rem;
    margin: 0 auto;
    background-color: rgba(39, 212, 255, 0.3);
    position: relative;
}
.scale_in {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.sc_bar_cont {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #27d4ff;
}
.scale_bar {
    width: 1.25rem;
    height: 0.5rem;
    background: #27D4FF;
    border-radius: 0.375rem;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -0.625rem;
    margin-top: -0.25rem;
    cursor: pointer;
}
.con_vertical_in{
    @include dflx_ac_jcent;
    flex-direction: column;
    width: 100%;
    background-color: rgba(39, 212, 255, 0.15);
}
.popinfo_dl{
    @include dflx_as;
    width: 100%;
    column-gap: 0.75rem;
    dt{
        @include dflx_ac;
        @include fs_12_medium;
        width: 3.125rem;
        min-height: 1.75rem;
    }
    dd{
        flex: 1;
    }
}
.popinfo_box{
    @include dflx_ac;
    @include fs_14_regular;
    width: 100%;
    min-height: 1.75rem;
    padding: 0.25rem 0.625rem;
    border-radius: 0.125rem;
    border:0.0625rem solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.12);
    &.popstatus{
        padding: 0.625rem 0.625rem;
        flex-direction: column;
        row-gap: 0.375rem;
    }
}
.status_circle{
    @include dflx_ac_jcent;
    @include fs_12_medium;
    color: $fc_white;
    width: 2.5rem;
    height: 2.5rem;
    background: #0068E6;
    border-radius: 100%;
    &.error{
        background: #D60000;
    }
}
.marker_container{
    transform: translate(-50%, -50%);
}
.movie_play{
    width: 100%;
    height: 13rem;
    overflow: hidden;
}
.table_box{
    &.auto{
        td:not(:first-child){
            width: auto;
        }
    }
    &.medium{
        th{height: 2.375rem;}
        td{height: 2.5rem;}
    }
}
.vms_area{
    &.auto{
        @include fs_24_medium;
        display: grid;
        justify-content: center;
        grid-auto-rows: 5.25rem;
        row-gap: .375rem;
        width: 100%;
        height: auto;
        max-height: 27.75rem;
        background:rgba(255, 255, 255, 0.06);
        border: none;
        outline: none;
        line-height: 1.2;
        padding: 0;
        img {width: 100%;}
    }
    &.auto.shape {
        grid-auto-rows: 18rem;
        max-height: 18rem;
        row-gap: 1.375rem;
        justify-content: center;
        img {height: 18.75rem;}
    }
    &.auto.emergency {
        justify-content: center;
        align-items: center;
        max-height: 12.5rem;
        img {width: 20rem;}
    }
}
.popup_contents{
    min-height: auto;
}
.table_box{
    &.grey{
        td{
            &:first-child{ background: rgba(255, 255, 255, 0.16); }
        }
    }
}
.break_infoline{
    width: 100%;
    display: grid;
    row-gap: 1rem;
}
.break_infodl{
    display: grid;
    grid-template-columns: auto 14rem;
    column-gap: 0.5rem;
    dt{
        @include fs_14_medium;
        line-height: normal;
    }
    dd{
        @include fs_14_regular;
        line-height: normal;
    }
}
.board_bottom{
    width: 62.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4.25rem;
    z-index: 50;
}
.indicator{
    &.over_y{
        .indi_top{
            margin: 0 0 1rem;
        }
        .indi_conts{
            margin: 0;
        }
    }
}
.traff_scroll{
    width: 100%;
    //height: 54.75rem;
    max-height: 55rem;
    padding: 0 !important;
}
.road_mark {
    position: absolute;
    top: 0;
    left: -0.5rem;
    width: 6.125rem;
    margin-top: -0.5rem;
    z-index: 20;
}
.road_inner {
    width: 100%;
    padding: 1rem 0 0;
    text-align: center;
    position: relative;
    .road_bus{
        margin: 0 auto;
    }
    .mark_txt {
        margin: 0.25rem 0 0;
    }
}
.mark_txt {
    @include border_radius02;
    @include backFilter;
    width: 100%;
    padding: 0.3125rem 0.375rem 0.25rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.38);
    background: rgba(4, 9, 26, 0.6);
    line-height: 1.1;
    .word {
        @include fs_12_medium;
        margin: 0 0 0.125rem;
    }
    .status {
        @include fs_12_medium;
        &.safe {
            color: #1CBD6D;
        }
        &.danger {
            color: #ff3b3b;
        }
    }
}
.road_bus {
    @include sign_ic28;
    @include fs_12_medium;
    padding: 0.125rem 0 0;
    overflow: hidden;
    color: #fff;
    word-break: keep-all;
    &.straight {
        background: #E62222;
    }
    &.seat {
        background: #008FB2;
    }
    &.normal {
        background: #009961;
    }
    &.lowseat {
        background: #009961;
    }
    &.village {
        background: #F0A800;
    }
    &.minimize {
        font-size: 0.625rem !important;
        letter-spacing: -0.05rem !important;
    }
}
.route_zone{
    display: grid;
    row-gap: 0.125rem;
}
.route_bar{
    @include dflx_ac_jbet;
    height: 2.25rem;
    padding: 0 1.0625rem 0 1.25rem;
    padding: 0 0.25rem 0 1.25rem;
    column-gap: 1rem;
    background: rgba(255, 255, 255, 0.06);
}
.checkbox_type{
    &.default{
        label{
            color: rgba(255, 255, 255, 0.87);
        }
    }
}
.table_route{
    tbody{
        td{
            height: 2.125rem;
            font-weight: 300;
        }
    }
    .text_ellipsis{
        padding: 0 !important;
    }
}
.weather_sign_wrap{
    @include dflx_ac;
    column-gap: 0.25rem;
    width: 10.25rem;
    height: 100%;
}
.bit_detail_form{
    display: grid;
    row-gap: 0.25rem;
    .check_dl{
        margin: 0;
    }
}
.check_dl{
    &.bit{
        dt{
            width: 3.875rem;
            padding: 0 0.5rem 0 0;
        }
    }
}
.bott_info.small.hauto{
    height: 2.5625rem !important;
}

/* swiper */
.swiper_wrap_mini{
    width: 4.75rem;
    height: 1.125rem;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper_mini{
    .swiper-slide {
        @include dflx_ac_jcent;
        @include fs_13_regular;
        color: #fff;
    }
    .swiper-button-prev{
        left: 0;
        width: 1.25rem;
        opacity: 0.6;
        
        &::after{
            text-indent: -999999px;
            width: 0.75rem;
            height: 0.75rem;
            background: url('../images/arrow_prev_fill_fff_12.svg') no-repeat center center;
            background-size: cover;
        }
    }
    .swiper-button-next{
        right: 0;
        width: 1.25rem;
        opacity: 0.6;
        &::after{
            text-indent: -999999px;
            width: 0.75rem;
            height: 0.75rem;
            background: url('../images/arrow_next_fill_fff_12.svg') no-repeat center center;
            background-size: cover;
        }
    }
}


/* leeminwoo 스타일추가 */
.tab_dashboard {
    @include dflx;
    align-items: stretch;
    margin-bottom: -0.0625rem;
    button {
        border-bottom: 0 !important;
        border-radius: 0 !important;
    }
    .selected {font-weight: 700;}
    .btn_toggle_floating{
        &:first-child{
            border-radius: 0.125rem 0 0 0;
            margin-right: -0.0625rem;
        }
        &:last-child{
            border-radius: 0 0.125rem 0 0;
        }
    }
}
.communi_top h5 {font-weight: 700;}
.comprehensive_arrow {
    position: absolute;
    top: -0.5rem;
    right: 3.125rem;
}
.indi_dl {
    height: 3rem;
    dt {@include fs_16_bold;}
    dd {font-weight: 500;}
}
.polygon_list_box {
    @include dflx_ac_jcent;
    column-gap: 1rem;
}
.polygon_item {
    @include backFilter();
    width: 12.25rem;
    height: 8.25rem;
    padding: 0.75rem;
    background: url(../images/polygon_bg_big.svg) no-repeat;
    background-size: 100%;
}
.polygon_tit {
    @include fs_14_medium;
    padding: 0.75rem 0 0 0.75rem;
    background: url(../images/polygon_bg_tit.svg) no-repeat;
    color: #27D4FF;
}
.polygon_result {
    margin-top: 1.25rem;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    color: #27D4FF;
    .unit {
        @include fs_14_medium;
        padding-left: 0.375rem;
    }
}
.polygon_unit {
    @include fs_12_regular;
    margin-top: 0.75rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.87)
}
.table_box {
    thead tr:hover {background-color: transparent;}
    th {
        background-color: #333C4E;
    }
    &.th_small th, &.th_small td, &.small td {
        height: 1.5rem;
    }
    &.th_small td{
        font-weight: 300;
    }
    .text_ellipsis {
        max-width: 90%;
        padding: 0 0.25rem;
        margin: 0 auto;
    }
    .fc_error_code{
        font-weight: 400;
    }
}
.text_ellipsis {
    @include txt_ellip;
    line-height: 1rem;
}
.scroll_y { 
    position: relative;
    /* 스크롤바 배경 필요시 추가 */
    // &::after {
    //     content: '';
    //     position: absolute;
    //     z-index: -1;
    //     height: calc(100% - 1.25rem);
    //     top: 2.25rem;
    //     right: -1px;
    //     width: 0.25rem;
    //     background: transparent;
    // }
}
.scroll_y_wrap {
    position: relative;
    width: calc(100% + 0.75rem);
    height: 100%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: block;
        width: 0.25rem;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $bg_grey40;
        border-right: none;
        border-left: none;
    }
    &::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 1.25rem;
    }
    &::-webkit-scrollbar-track-piece:start {
        background: transparent;
        margin-top: 2.25rem;
    }
}
.scroll_y_contetns .table_box {width: calc(100% - 0.5rem);}
.popover_contents {
    background: rgba(5, 10, 31, 0.60);
}
.smartlegend_indicator {
    min-width: 19.3125rem;
    transform: translate(-0.875rem, 0);
}
.board_center {
    @include dflx;
    flex-direction: column;
    max-width: 62.5rem;
    //max-height: calc(100% - 4.25rem);
    margin: 0 auto;
    padding-top: 4rem;
    z-index: 60;
}
.rowspan_cell th {
    height: 1.125rem;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}
.rowspan_cell tr:first-child th {border-top: 0;}
.approach_detect_table th, td:not(:first-child) {
    width: 6.875rem;
}
.dt_type {
    @include fs_13_regular;
    width: 5rem;
}
.infowindow_box.on {display: block;}
.marker_information {
    @include dflx;
    flex-direction: column;
    row-gap: 1rem;
}
.marker_textitem {
    @include dflx_ac_jbet;
}
.info_tit {letter-spacing: -0.0125rem; color: $bg_grey60}
.info_details {color: $bg_grey87}
.wrput.fill {
    background: rgba(255, 255, 255, 0.12);
}
.two_row_col {
    @include dflx;
    column-gap: 12px;
    row-gap: 8px;
    flex-wrap: wrap;
    .col_item {
        @include dflx_ac_jbet;
        width: calc(50% - 0.375rem);
        &.more{
            width: calc(50% - 0.75rem);
        }
    }
}
.word_nowrap {
    padding: 0 0.25rem;
    white-space: nowrap;
}
.react-datepicker {@include backFilter}
.parking_congestion {
    @include dflx_ac_jcent;
    @include border_radius50;
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 auto 0.5rem;
    &.green {background: #009961}
    &.yellow {background: #F0A800}
    &.red {background: #E62222}
    &.gray {background: #4F525E}
}
.parking_txt {
    @include fs_12_regular;
    line-height: 1.2;
    text-align: center;
}
.ic_down_red {
    display: inline-block;
    width: 0.75rem;
    height: 0.875rem;
    background: url(../images/arrow_bold_down_red_12.svg) no-repeat center center;
    background-size: auto 100%;
}
.percent_txt.up {color: #FF1F55;}
.btn_board_left {
    width: 9.625rem;
    justify-content: center;
    //transform: translate(-0.75rem, 0);
}
.share_rate_bar {
    @include dflx;
    position: relative;
    align-items: stretch;
    height: 1.25rem;
    background: rgba(255, 255, 255, 0.12);
}
.share_rate {
    > * {width: 100%;height: 100%;}
    .skyblue {background: rgba(39, 212, 255, 0.8)}
    .blue {background: #0077ff}
}
.share_rate_txt {
    @include fs_14_bold;
    position: absolute;
    top: 4px;
    left: 8px;
    color: $bg_grey87
}
.danger_box {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    height: calc(100% - 1rem);
    padding: 1rem 0 0;
}
.pedestrian_contents {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 28.25rem auto;
    &.map {
        grid-template-rows: 22rem auto;
    } 
}
.statistic_content {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 1.25rem;
    &.danger_zone {
        grid-template-columns: 20rem auto 37.125rem;
        column-gap: 1rem;
    }
    &.peak {
        grid-template-rows: 28.25rem;
        row-gap: 1rem;
    }
}

// 10/4 추가
.summary_zone{
    width: 100%;
}
.cross_zone{
    width: 100%;
    padding: 2.5rem 4rem;
    background: rgba(255, 255, 255, 0.06);
    position: relative;
    .p_cross{
        position: absolute;
        left: 0.75rem;
        top: 0.75rem;
    }
}
.cross_box{
    width: 100%;
    height: 19.5rem;
    padding: 1.75rem 2.5rem;
    position: relative;
    .cross_txt{
        position: absolute;
        &.top{
            height: 1.75rem;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &.bottom{
            height: 1.75rem;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &.right{
            width: 1rem;
            word-break: break-all;
            right: 0.75rem;
            top: 50%;
            transform: translateY(-50%);
        }
        &.left{
            width: 1rem;
            word-break: break-all;
            left: 0.75rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.cross_txt{
    @include dflx_ac_jcent;
    @include fs_13_regular;
    color: $ui_sky;
    line-height: 1.3;
    text-align: center;
}
.cross_conts{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cross_road{
    @include dflx;
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    gap: 0.25rem;
    &.top{
        border-left: 0.063rem solid $bg_grey20;
        border-right: 0.063rem solid $bg_grey20;
    }
    &.bottom{
        border-left: 0.063rem solid $bg_grey20;
        border-right: 0.063rem solid $bg_grey20;
    }
    &.right{
        border-top: 0.063rem solid $bg_grey20;
        border-bottom: 0.063rem solid $bg_grey20;
        flex-direction: column;
        padding:0.53rem 0.75rem;
    }
    &.left{
        border-top: 0.063rem solid $bg_grey20;
        border-bottom: 0.063rem solid $bg_grey20;
        flex-direction: column;
        padding:0.53rem 0.75rem;
    }
}
.road_direct{
    @include dflx;
    height: 100%;
    flex: 1;
}
.direct_number{
    @include dflx_ac_jcent;
    @include fs_13_regular;
    color: $fc_white;
    flex: 1;
}
.bd_top1{
    border-top: 0.063rem solid $bg_grey12;
}
.bd_bottom1{
    border-bottom: 0.063rem solid $bg_grey12;
}
.table_box {
    &.th_medium th, &.th_medium td {
        height: 1.75rem;
        line-height: 1.1;
    }
    &.th_medium th.td{
        border-top: 0.125rem solid #04091a;
    }
}